body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 40px;
}

.content {
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  color: #f0f0f0;
}

.heading {
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 50px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.heading span {
  font-size: 16px;
  font-weight: normal;
}

.questions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.questions-table th{
  border: 25px solid #000000;
  padding: 8px;
  text-align: center;

}
.questions-table td {
  border: 10px solid #000000;
  padding: 8px;
  text-align: center;
}

.questions-table th,
.questions-table tbody {
  background-color: #000000;
  color: white;
}


.difficulty.easy {
  color: green;
}

.difficulty.medium {
  color: orange;
}

.difficulty.hard {
  color: red;
}

a {
  color: rgb(2, 82, 147);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.questions-table th{
  font-size: 26px;
  font-weight: 950;
}

.questions-table td{
  font-size: 20px;
  font-weight: 580;
}