body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.heading span {
  font-size: 16px;
  font-weight: normal;
}

.questions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.questions-table th,
.questions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.questions-table th,
.questions-table tbody {
  background-color: #333;
  color: white;
}


.difficulty.easy {
  color: green;
}

.difficulty.medium {
  color: orange;
}

.difficulty.hard {
  color: red;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
