.footer {
  background-color: #020202;
  color: white;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
  margin: 10px;
  align-items: end;
}

.footer-left h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.footer-left p {
  max-width: 300px;
  font-size: 14px;
}

.footer-middle h4, .footer-right h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-middle ul {
  list-style-type: none;
  padding: 0;
}

.footer-middle ul li {
  margin: 8px 0;
}

.footer-middle ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-middle ul li a:hover {
  text-decoration: underline;
}

.footer-right {
  max-width: 300px;
  align-content: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form input, .feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.feedback-form textarea {
  resize: none;
  height: 80px;
}

.feedback-form button {
  padding: 10px;
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.feedback-form button:hover {
  background-color: #858585;
}

.footer-social {
  text-align: center;
  margin-top: 20px;
}

.footer-social h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 45px; /* Add space between icons */
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #18bc9c;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 40px;
}

.fab {
  font-weight: 400;
  font-size: 35px;
}

.footer-middle h4, .footer-right h4 {
  margin-bottom: 28px;
  font-size: 26px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left, .footer-middle, .footer-right {
    margin: 20px 0;
  }
}
