:root {
  /* --clr-neutral-900: hsl(207, 19%, 9%); */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: var(--clr-neutral-900);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 63px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.card {
  color: var(--clr-neutral-100);
  background-color: black;
  background-size: cover;
  width: 350px; /* Increase the width of each card */
  height: 230px; /* Adjust height proportionally */
  border-radius: 2rem;
  overflow: hidden;
  transition: transform 500ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  text-align: center;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-body {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  font-size: 16px;
}

.card:hover .card-title {
  transform: translateY(-20px);
}

.card:hover .card-body {
  opacity: 1;
  transform: translateY(0);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Stack cards on smaller screens */
    padding: 0 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row on medium screens */
    padding: 0 30px;
  }
}
